.main-header {

    &__logo {}

    &__title {
        font-size: rem-calc(40);
        margin-top: rem-calc(24);
    }

    &__info {}
}

.main-header.row {
    margin-bottom: rem-calc(24);
}

header {
    background-image: url("/images/")
}
