$main-header-small-height: rem-calc(90);

.main-header {
    display: flex;
    align-items: center;
    background-color: white;

    &__logo {
        img {
            max-width: rem-calc(150);
        }
    }

    &__title {
        font-size: rem-calc(40);
        margin-top: rem-calc(24);
    }

    &__info {
        position: absolute;
        top: 4rem;
        left: 0;
    }
    + div > div { padding-top: 1rem; }
}

@media #{$small-only} {
    .main-header {
        position: fixed;
        z-index: 1;
        min-width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.025);
        height: $main-header-small-height;

        & + div.columns {
            margin-top: $main-header-small-height;
        }
        &__info {
        position: relative;
        top: 0rem;
        left: -1.5rem;
        }
    }
}
