<header class="colum small-10 small-offset-1 main-header">
    <div class="row">
        <div class="column small-1 main-header__logo">LOGO</div>
        <h1 class="column small-6 main-header__title">Lodi Solar Rebate</h1>
        <div class="column small-5 main-header__info">
            <h2>OneNRG</h2>
            <h2>916-672-1764</h2>
            <h2><a href="mailto:info@onenrg.com">info@onenrg.com</a></h2>
        </div>
    </div>
</header>
