<header class="row main-header">
    <div class="column small-3 main-header__logo"><%= image_tag("onenrg-logo.png") %></div>
    <h1 class="column small-6 text-center main-header__title">Lodi Solar Rebate</h1>
    <div class="column small-3 main-header__info">
        <div>OneNRG</div>
        <div>916-672-1764</div>
        <div><a href="mailto:info@onenrg.com">info@onenrg.com</a></div>
    </div>
</header>
