<header class="row main-header">
    <div class="column small-offset-1 small-5 medium-3 main-header__logo">
        <%= image_tag("onenrg-logo.png") %>
    </div>
    <div class="column small-5 medium-3 medium-offset-5 main-header__info end">
        <div>916-672-1764</div>
        <div><a href="mailto:info@onenrg.com">info@onenrg.com</a></div>
    </div>
</header>
