<%= render "header" %>

<main class="columns small-10 small-offset-1 main-content">

    <!-- Rebate Section -->
    <section class="row">
        <h2>Rebate Up To $7,000 Residential / $40,000 Commercial<br />
        </h2>
        <h3 class="red subheader">Expires in January 2016!</h3>
        <h4 class="subheader">City of Lodi Electric Utility</h4>
        <p>The City of Lodi Electric Utility will be offering $525,000 in rebates to customers who install solar/photovoltaic systems in 2015. The city utility has earmarked $285,000 for residential systems and $240,000 for commercial and industrial photovoltaic systems.
        </p>
        <p>See full <a href="http://www.lodi.gov/press_releases/PR20141216_2015solarrebates.html">press release</a></p>
    </section>
    <!-- End Rebate Section -->

    <!-- Tax Credit Section -->
    <section class="row">
        <h2>Combine with Federal Tax Credit<br />Get <em>Thousands</em> in Cash Back</h2>
        <h3 class="subheader">Federal IRS Renewable Energy Tax Credit</h3>
        <p>
            Resident/Homeowner may claim a credit of 30% of qualified expenditures, including labor costs for on-site preparation, assembly or original system installation, and for     piping or wiring to interconnect a system to the home. If the federal tax credit exceeds tax liability, the excess amount may be carried forward to the next taxable year.
        </p>
        <p>See <a href="http://programs.dsireusa.org/system/program/detail/1235">Energy Tax Credit Program Details</a></p>
    </section>
    <!-- End Tax Credit Section -->

    <!-- County Financing  -->
    <section class="row">
        <h2>County Financing - No Credit Requirements - $0 Out of Pocket</h2>
        <h3 class="subheader">HERO Program Financing</h3>
        <p>For more information, visit the <a href="https://www.heroprogram.com/ca/lodi">Hero Program website</a></p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hygWExcCbRo" frameborder="0" allowfullscreen></iframe>
    </section>
    <!--  End County Financing  -->

</main>


<section>
    
<h2>Contact Us For Your FREE Rebate Evaluation</h2>
<p>Our licensed contractors can help you find eligible rebates and financing</p>
<%= render "contacts/new" %>
</section>
