<%= render "header" %>
<section>
    
<h2>Why It Pays to Go Solar</h2>
<h3>30&nbsp;Days&nbsp;Left to Cash In BIG</h3>
<p>Installing solar technology is less expensive than you think. Local and Federal incentives for renewable energy will overlap through January 2016, giving you an opportunity cash in on thousands to upgrade your home with cost-saving solar technology that builds equity in your home. As municipal energy rates continue to increase, you'll soon have to ask yourself if you can afford <em>not</em> to upgrade. 
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NNT4UmjUfNU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</section>

<section>
    
<h2>Earn Up To $7,000&nbsp;Residential / $40,000&nbsp;Commercial<br />
<span>Rebate Expires in January 2016</span>
</h2>
<h3>City of Lodi Electric Utility</h3>
<p>The City of Lodi Electric Utility will be offering $525,000 in rebates to customers who install solar/photovoltaic systems in 2015. The city utility has earmarked $285,000 for residential systems and $240,000 for commercial and industrial photovoltaic systems.
</p>
<p>See full <a href="http://www.lodi.gov/press_releases/PR20141216_2015solarrebates.html">press&nbsp;release</a></p>
</section>

<section>
    
<h2>Combine with Federal Tax&nbsp;Credit<br />
Get <em>Thousands</em> in Cash&nbsp;Back</h2>
<h3>Federal IRS Renewable Energy Tax Credit</h3>
<p>Resident/Homeowner may claim a credit of 30% of qualified expenditures, including labor costs for on-site preparation, assembly or original system installation, and for piping or wiring to interconnect a system to the home. If the federal tax credit exceeds tax liability, the excess amount may be carried forward to the next taxable year.
</p>
<p>See <a href="http://programs.dsireusa.org/system/program/detail/1235">Energy Tax&nbsp;Credit Program&nbsp;Details</a></p>
</section>

<section>
    
<h2>County Financing - No&nbsp;Credit&nbsp;Requirements - $0&nbsp;Out&nbsp;of&nbsp;Pocket</h2>
<h3>HERO&nbsp;Program Financing</h3>
<p>For more information, visit the <a href="https://www.heroprogram.com/ca/lodi">Hero&nbsp;Program&nbsp;website</a></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/hygWExcCbRo" frameborder="0" allowfullscreen></iframe>
</section>

<section>
    
<h2>Contact Us For Your FREE Rebate Evaluation</h2>
<p>Our licensed contractors can help you find eligible rebates and financing</p>
<%= render "contacts/new" %>
</section>
